
li{
    display: inline-block;
    padding-right: 10px;
}

#welcome{
    text-align: center;
  
    
    
}


#my{
  font-size: 30px;
    text-align: center;
    padding-top: 15px;
  
   
}
#tedx{
   
font-size:30px;
text-align: center;
padding-top: 20px;
  
    }


h5{
    text-align: center;
    font-size: 60px;
    padding-bottom: 0px;
    background-color: darkkhaki;
}   
#Hello{
    font-size: 30px;
} 
body{
    background-color: darkseagreen;
}
#footer{
    font - color: white;
    text-align: center;
    font-size: 15px;
    background-color: darkslategray;
}

